/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .mainContent {
        max-width: 100%;
    }
    .customCard {
        width: 260px;
    }
    .customButton {
        width: 50%;
    }
    .customImage {
        width: 100%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mainContent {
        max-width: 75%;
    }
    .customCard {
        width: 360px;
    }
    .customButton {
        width: 25%;
    }
    .customImage {
        width: 40%;
    }
}

.errorImage {
    max-width: 30em;
}

.sectionLink:hover {
    --bs-link-underline-opacity: 100;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.videoPlayer {
    position: relative;
    cursor: pointer;
    width: fit-content;
}
.videoPlayer .videoThumbnail {
    min-width: 250px;
}
.videoPlayer .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}