---
layout: collection
title: Certificati
description: Qui puoi trovare tutti i miei certificati ordinati per società di emissione e di importanza
---
{% include section-header.html id="harvard" text="Harvard" %}
<div class="d-flex flex-wrap justify-content-evenly text-center">
{% assign imgs="cs50x" | split: "," %}
{% include certificate-card-carousel.html category="harvard" id="cs50x-ver" title="CS50x" imgs=imgs link="https://courses.edx.org/certificates/5623fefeedf940648e848229dca4456c" %}
{% assign imgs="cs50p-ver" | split: "," %}
{% include certificate-card-carousel.html category="harvard" id="cs50p-pro" title="CS50p" imgs=imgs link="https://courses.edx.org/certificates/9de6193711624fbebc3d76fc4110fad2" %}
{% assign imgs="cs50ai-ver" | split: "," %}
{% include certificate-card-carousel.html category="harvard" id="cs50ai-pro" title="CS50ai" imgs=imgs link="https://credentials.edx.org/credentials/5bbbfff9bab14d3eb6a35113ef315679/" %}
</div>
<hr class="mx-auto w-75">
{% include section-header.html id="accredible" text="Accredible" %}
<div class="d-flex flex-wrap justify-content-evenly text-center">
{% include certificate-card.html category="accredible" id="play-store-listing" title="Play Store Listing" link="https://www.credential.net/2054c452-bb4d-47f7-bd2f-95d7b0b31a80" %}
</div>
<hr class="mx-auto w-75">
{% include section-header.html id="sololearn" text="SoloLearn" %}
<div class="d-flex flex-wrap justify-content-evenly text-center">
{% include certificate-card.html category="sololearn" id="jquery" title="JQuery" link="https://www.sololearn.com/Certificate/1082-22861213/png" %}
{% include certificate-card.html category="sololearn" id="python" title="Python" %}
{% include certificate-card.html category="sololearn" id="c" title="C" %}
{% include certificate-card.html category="sololearn" id="sql" title="SQL" %}
{% include certificate-card.html category="sololearn" id="rwd" title="Responsive Web Design" link="https://www.sololearn.com/Certificate/CT-PZGAVZKD/png" %}
{% include certificate-card.html category="sololearn" id="javascript" title="JavaScript" %}
{% include certificate-card.html category="sololearn" id="php" title="PHP" link="https://www.sololearn.com/Certificate/CT-JKPZCQMO/png" %}
{% include certificate-card.html category="sololearn" id="java" title="Java" %}
{% include certificate-card.html category="sololearn" id="html" title="HTML" link="https://www.sololearn.com/Certificate/CT-XAMGWGXG/png" %}
</div>
<hr class="mx-auto w-75">
{% include section-header.html id="hackerx" text="HackerX" %}
<div class="d-flex flex-wrap justify-content-evenly text-center">
{% include certificate-card.html category="hackerx" id="ethical-hacking" title="Courses of ethical hacking" %}
{% include certificate-card.html category="hackerx" id="android" title="Android hacking" %}
{% include certificate-card.html category="hackerx" id="bring-down-website" title="Bring down a website" %}
{% include certificate-card.html category="hackerx" id="card-fraud" title="Credit and debit card frauds" %}
{% include certificate-card.html category="hackerx" id="xss" title="Cross site scripting" %}
{% include certificate-card.html category="hackerx" id="database" title="Database hacking" %}
{% include certificate-card.html category="hackerx" id="gathering-info" title="Gathering information" %}
{% include certificate-card.html category="hackerx" id="hiding-messages" title="Hiding messages" %}
{% include certificate-card.html category="hackerx" id="mac" title="MAC" %}
{% include certificate-card.html category="hackerx" id="keyboard-spying" title="Keyboard spying" %}
{% include certificate-card.html category="hackerx" id="safe-data" title="Make your data safe" %}
{% include certificate-card.html category="hackerx" id="network-spying" title="Network spying" %}
{% include certificate-card.html category="hackerx" id="os" title="OS" %}
{% include certificate-card.html category="hackerx" id="password" title="Password hacking" %}
{% include certificate-card.html category="hackerx" id="socials" title="Social media hacking" %}
{% include certificate-card.html category="hackerx" id="surfing-anonymously" title="Surfing anonymously" %}
{% include certificate-card.html category="hackerx" id="vulnerability-scanning" title="Vulnerability scanning and reporting" %}
{% include certificate-card.html category="hackerx" id="wep" title="WiFi hacking WEP" %}
{% include certificate-card.html category="hackerx" id="wap2" title="WiFi hacking WPA-WPA2" %}
{% include certificate-card.html category="hackerx" id="wordpress" title="Wordpress scanning" %}
</div>
<hr class="mx-auto w-75">
{% include section-header.html id="grasshopper" text="GrassHopper" %}
<div class="d-flex flex-wrap justify-content-evenly text-center">
{% include certificate-card.html category="grasshopper" id="editor" title="Code editor" %}
{% include certificate-card.html category="grasshopper" id="interviewing" title="Intro to interviewing" %}
{% include certificate-card.html category="grasshopper" id="debugging" title="Debugging code" %}
{% include certificate-card.html category="grasshopper" id="fundamentals" title="Coding fundamentals" %}
{% include certificate-card.html category="grasshopper" id="fundamentals-2" title="Coding fundamentals 2" %}
{% include certificate-card.html category="grasshopper" id="arrays" title="Array methods" %}
{% include certificate-card.html category="grasshopper" id="animations" title="Animations" %}
{% include certificate-card.html category="grasshopper" id="animations-2" title="Animations 2" %}
</div>