---
import Link from "../components/Link.astro";
---
<footer class="mx-auto w-75 text-center mb-4">
    <hr>
    <Link href="https://www.instagram.com/ivanbeltramee/" label="Il mio profilo Instagram" HTMLclass="m-2"><i class="bi bi-instagram fs-4"></i></Link>
    <Link href="https://github.com/ivanbeltrame" label="Il mio profilo GitHub" HTMLclass="m-2"><i class="bi bi-github fs-4"></i></Link>
    <Link href="https://www.linkedin.com/in/ivan-beltrame/" label="Il mio profilo LinkedIn" HTMLclass="m-2"><i class="bi bi-linkedin fs-4"></i></Link>
    <Link href="https://bsky.app/profile/ivanbeltrame.com" label="Il mio profilo Bluesky" HTMLclass="m-2"><i class="bi bi-bluesky fs-4"></i></Link>
    <Link href="https://twitter.com/IvanBeltramee" label="Il mio profilo Twitter" HTMLclass="m-2"><i class="bi bi-twitter-x fs-4"></i></Link>
    <Link href="https://www.facebook.com/ivanbeltramee/" label="Il mio profilo Facebook" HTMLclass="m-2"><i class="bi bi-facebook fs-4"></i></Link>
    <Link href="mailto:ivan@ivanbeltrame.com" label="La mia email" HTMLclass="m-2"><i class="bi bi-envelope-at fs-4"></i></Link>
    <br>
    <a href="/privacy-policy">Privacy Policy</a>
</footer>
<script>
    const bypassHostnameCheck = false;
    if ("serviceWorker" in navigator && (window.location.hostname == "www.ivanbeltrame.com" || bypassHostnameCheck)) {
        navigator.serviceWorker.register("/sw.js")
            .then((reg) => console.log("Service worker registered", reg))
            .catch((err) => console.log("Service worker not registered", err));
    } else {
        console.log("Service worker not supported");
    }
</script>
<script type="speculationrules">
{
    "prerender": [
        {
            "source": "list",
            "urls": ["/", "/certificati", "/progetti", "/contatti"]
        }
    ],
    "prefetch": [
        {
            "source": "document",
            "where": {
                "and": [
                    { "href_matches": "*" },
                    { "not": { "selector_matches": ".no-prefetch" } }
                ]
            },
            "eagerness": "eager"
        }
    ]
}
</script>
<script src="../scripts/bootstrap.js"></script>