<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include navbar.html%}
        <div class="bg-primary-subtle text-center p-4 shadow-sm">
            <h2 class="fs-1 lh-base fw-bold">Il mio sito,<br>il mio spazio</h2>
        </div>
        <div class="p-5 mx-auto mainContent">
            {{ content }}
        </div>
        {% include footer.html%}
        <div class="position-fixed bottom-0 end-0 p-3 text-center">
            {% include toast.html id="instagramToast" icon='<i class="bi bi-instagram fs-4 me-2" style="color: #bc2a8d;"></i>' title="Instagram" content='
                Dai un\'occhiata al mio profilo <b>Instagram</b>.<br>
                <a class="btn btn-primary mt-2" href="https://www.instagram.com/ivanbeltramee/" role="button" target="_blank" rel="noopener noreferrer">Visita</a>' %}
            {% include toast.html id="ivanWeatherToast" icon='<img src="https://www.ivanweather.com/img/IvanWeather.png" class="rounded me-2" alt="Logo" width="40">' title="IvanWeather" content='
                Dai un\'occhiata a IvanWeather, il mio progetto finale per CS50. <b>Da oggi con la possibilità di vedere il meteo dei prossimi 5 giorni, in scatti di 3 ore.</b><br>
                <a class="btn btn-primary mt-2" href="https://www.ivanweather.com" role="button" target="_blank" rel="noopener noreferrer">Visita</a>' %}
        </div>
    </body>
    <script src="/js/main.js"></script>
</html>