---
layout: default
title: Contatti
description: La mia pagina dei contantti in cui sono presenti tutti i modi in cui mi puoi parlare, inclusi social e email
---
{% include section-header.html id="social" text="Rispondo anche ai messaggi sui social" %}
<ul>
    <li>Instagram: {% include link.html href="https://www.instagram.com/ivanbeltramee/" text="ivanbeltramee" %}</li>
    <li>GitHub: {% include link.html href="https://github.com/ivanbeltrame" text="ivanbeltrame" %}</li>
    <li>LinkedIn: {% include link.html href="https://www.linkedin.com/in/ivan-beltrame" text="ivan-beltrame" %}</li>
    <li>Bluesky: {% include link.html href="https://bsky.app/profile/ivanbeltrame.com" text="ivanbeltrame.com" %}</li>
    <li>X (Twitter): {% include link.html href="https://twitter.com/IvanBeltramee" text="IvanBeltramee" %}</li>
    <li>Facebook: {% include link.html href="https://www.facebook.com/profile.php?id=100083938833369" text="Ivan Beltrame" %}</li>
</ul>
{% include section-header.html id="richieste" text="Sempre disponibile per ogni richiesta" %}
<p>Sono disponibile per qualsiasi conversazione all'email {% include link.html href="mailto:ivan@ivanbeltrame.com" text="ivan@ivanbeltrame.com" %}</p>
{% include section-header.html id="comunicazioni-sicure" text="Comunicazioni sicure" %}
<p>
    Per comunicare in maniera sicura con me puoi utilizzare la mia chiave gpg pubblica per crittografare i messaggi.<br>
    Chiave GPG {% include link.html href="/assets/IvanBeltrame.asc" text="765C D50E D0BD 707D" %}
</p>
{% include section-header.html id="orcid" text="ORCiD" %}
<p>Il mio ORCiD ufficiale è {% include link.html href="https://orcid.org/0009-0000-0728-4542" text="0009-0000-0728-4542" %}</p>
{% include section-header.html id="privacy-policy" text="Privacy policy" %}
<p>Puoi consultare la privacy policy in <a href="/privacy-policy">questa pagina</a></p>
{% include section-header.html id="repository" text="Repository del sito" %}
<p>
    Puoi consultare la repository del mio sito {% include link.html href="https://github.com/ivanbeltrame/www" text="su GitHub" %}<br>
    Questo sito è online dal 01/09/2022<span id="site-age"></span>
</p>
<script>
    // Calculate website years
    let websiteCreation = new Date("2022-09-01T13:05:36Z");
    let now = new Date();
    let diff = now - websiteCreation;
    let years = Math.floor(diff / (1000 * 60 * 60 * 24 * 365.25));
    document.getElementById("site-age").innerText = " (ben " + years + " anni!)";
</script>