---
layout: default
title: Ivan Beltrame
description: Il mio sito personale dove puoi trovare qualche fatto su di me, vedere i miei certificati e navigare sui miei siti
---
<div class="p-5 mx-auto mainContent">
    {% include section-header.html id="bio" text="Sviluppatore web e software" %}
    <p>
        Ciao! Sono Ivan Beltrame, uno sviluppatore web da oltre 8 anni. Utilizzando principalmente JavaScript, PHP e Python, che mi hanno permesso di realizzare diversi progetti che arricchiscono il mio portfolio.
        <br><br>
        La mia passione per la sicurezza web e l'informatica mi ha portato a sviluppare abilità nella gestione di più domini web in maniera professionale e sicura, garantendo la massima protezione per i dati dei miei visitatori.
        <br><br>
        Oltre alla mia esperienza come sviluppatore web, ho anche sviluppato diverse app Android utilizzando Java e creato software d'uso quotidiano con diversi linguaggi di programmazione come Python, Java, C, C++ e Rust.
        <br><br>
	    Utilizzo da molti anni programmi come Word, Excel, Access e PowerPoint e ho imparato molte delle loro funzioni.
        <br><br>
        Sono aperto alla realizzazione di progetti web e nella gestione sicura di domini web. Esplora il mio sito per vedere alcuni dei miei progetti passati e attuali e non esitare a contattarmi per fare una chiacchierata!
    </p>

    <hr>
    {% include section-header.html id="certificati-cs50ai" text="Informatica per l'intelligenza artificiale" %}

    {% include section-header.html id="certificati-cs50p" text="Informatica per la programmazione in Python" %}

    {% include section-header.html id="certificati-cs50" text="CS50 Introduzione all'informatica" %}

    {% include section-header.html id="progetti-finali" text="Progetti di fine corso" %}
</div>