---
layout: default
title: Privacy Policy
description: Leggi la nostra Privacy Policy per ivanbeltrame.com
---
<p class="text-end">Last privacy policy update: 15/03/2025</p>
<p>This privacy policy will explain how ivanbeltrame.com uses the personal data it collects from you when you use our website.</p>
<p>Topics:</p>
<ul>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>Marketing</li>
    <li>What are your data protection rights?</li>
    <li>What are cookies?</li>
    <li>How do we use cookies?</li>
    <li>What types of cookies do we use?</li>
    <li>How to manage your cookies</li>
    <li>Privacy policies of other websites</li>
    <li>Changes to our privacy policy</li>
    <li>How to contact us</li>
    <li>How to contact the appropriate authorities</li>
</ul>
{% include section-header.html id="what-data-do-we-collect" text="What data do we collect?" %}
<p>ivanbeltrame.com collects the following data:</p>
<ul>
    <li>Functionality cookies</li>
</ul>
{% include section-header.html id="how-do-we-collect-your-data" text="How do we collect your data?" %}
<p>We collect data and process data when you:</p>
<ul>
    <li>Use or view our website via your browser's cookies.</li>
</ul>
{% include section-header.html id="how-will-we-use-your-data" text="How will we use your data?" %}
<p>ivanbeltrame.com collects your data so that we can:</p>
<ul>
    <li>Remember your preferences</li>
</ul>
<p>The data is only used to remember the preferences selected by the user and it's not processed by our servers.</p>
{% include section-header.html id="how-do-we-store-your-data" text="How do we store your data?" %}
<p>ivanbeltrame.com doesn't store your data in our servers, but it ensure that all the communications between the client and the server is secure and encrypted using the latest technology available.</p>
<p>The data is stored using the help of cookies, that remain stored only in the user's device.</p>
<p>They remain stored until they expire and then they will be deleted. The expired cookies can't be recovered by ivanbeltrame.com nor can be restored from a copy our servers.</p>
<p>Each cookie remains in the user's device for a determinated amount of time specified in its file.</p>
{% include section-header.html id="what-are-your-data-protection-rights" text="What are your data protection rights?" %}
<p>ivanbeltrame.com would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<ul>
    <li><strong>The right to access</strong> - You have the right to request ivanbeltrame.com for copies of your personal data.</li>
    <li><strong>The right to rectification</strong> - You have the right to request that ivanbeltrame.com correct any information you believe is inaccurate. You also have the right to request ivanbeltrame.com to complete the information you believe is incomplete.</li>
    <li><strong>The right to erasure</strong> - You have the right to request that ivanbeltrame.com erase your personal data, under certain conditions.</li>
    <li><strong>The right to restrict processing</strong> - You have the right to request that ivanbeltrame.com restrict the processing of your personal data, under certain conditions.</li>
    <li><strong>The right to object to processing</strong> - You have the right to object to ivanbeltrame.com's processing of your personal data, under certain conditions.</li>
    <li><strong>The right to data portability</strong> - You have the right to request that ivanbeltrame.com transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email <a href="mailto:privacy@ivanbeltrame.com">privacy@ivanbeltrame.com</a></p>
{% include section-header.html id="cookies" text="Cookies" %}
<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information.</p>
<p>For further information, visit <a href="https://allaboutcookies.org" target="_blank" rel="noopener noreferrer">https://allaboutcookies.org</a>.</p>
{% include section-header.html id="how-do-we-use-cookies" text="How do we use cookies?" %}
<p>ivanbeltrame.com uses cookies to improve your experience on our website, including:</p>
<ul>
    <li>Remember your previously selected preferences</li>
</ul>
{% include section-header.html id="what-types-of-cookies-do-we-use" text="What types of cookies do we use?" %}
<p>There are a number of different types of cookies, however, our website uses:</p>
<ul>
    <li>Functionality cookies - ivanbeltrame.com uses these cookies so that we remember your previously selected preferences. These could include what language you prefer and metric unit.</li>
</ul>
{% include section-header.html id="how-to-manage-cookies" text="How to manage cookies" %}
<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
{% include section-header.html id="privacy-policies-of-other-websites" text="Privacy policies of other websites" %}
<p>ivanbeltrame.com contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
{% include section-header.html id="changes-to-our-privacy-policy" text="Changes to our privacy policy" %}
<p>ivanbeltrame.com keeps its privacy policy under regular review and places any updates on this web page.</p>
{% include section-header.html id="how-to-contact-us" text="How to contact us" %}
<p>If you have any questions about ivanbeltrame.com's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
<p>Email us at: <a href="mailto:privacy@ivanbeltrame.com">privacy@ivanbeltrame.com</a></p>