---
layout: projects
title: Progetti
description: Qui puoi trovare tutti i miei progetti creati nel corso della mia carriera
---
<br>
<div class="text-center">{% include section-header.html id="personali" text="Personali" %}</div>
<div class="d-flex flex-wrap justify-content-evenly text-center">
    {% include project-card.html title="IvanWeather" text="Servizio meteo in tempo reale in tutto il mondo" href="https://www.ivanweather.com/" %}
    {% include project-card.html title="IvanGames" text="Tutti i miei giochi in un unico sito" href="https://games.ivanbeltrame.com/" %}
    {% include project-card.html title="Applicazioni Web" text="Le mie applicazioni web" href="https://apps.ivanbeltrame.com/" %}
    {% include project-card.html title="Blog" text="Il mio blog personale" href="https://blog.ivanbeltrame.com" %}
    {% include project-card.html title="Status" text="Sito in cui controllare lo stato del mio intero dominio" href="https://status.ivanbeltrame.com" %}
    {% include project-card.html title="Belbab" text="Le mie squadre del cuore" href="https://belbab.ivanbeltrame.com/" %}
    {% include project-card.html title="Er Galassia" text="La storia di un mio alterego" href="https://ergalassia.ivanbeltrame.com/" %}
    {% include project-card.html title="Links" text="Link veloci" href="https://links.ivanbeltrame.com" %}
    <div class="projectCard card m-2">
        <div class="card-body">
            <h4 class="card-title">IvanMusic</h4>
            <p class="card-text">
                Sito per vedere le tue statistiche di Spotify (Accesso limitato)
            </p>
            <a class="card-link" role="button"  data-bs-toggle="modal" data-bs-target="#IvanMusicModal">Link</a>
            <!-- Modal -->
            <div class="modal fade" id="IvanMusicModal" tabindex="-1" aria-labelledby="IvanMusicModal" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="IvanMusicModal">Accesso limitato</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Per accedere a IvanMusic devi avere un account fornito da
                            <a href="mailto:ivan@ivanbeltrame.com" target="_blank" rel="noopener noreferrer">ivan@ivanbeltrame.com</a>
                            e un account Spotify abilitato.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        <a class="card-link btn btn-warning" href="https://music.ivanbeltrame.com" target="_blank" rel="noopener noreferrer">Continua</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="text-center">{% include section-header.html id="scolastici" text="Scolastici" %}</div>
<div class="d-flex flex-wrap justify-content-evenly text-center">
    {% include project-card.html title="Galileo Galilei" text="Video animato su Galileo Galilei" href="https://galileogalilei.ivanbeltrame.com" %}
    {% include project-card.html title="La colazione dei canottieri" text="Quadro \"La colazione dei canottieri\"" href="https://lacolazionedeicanottieri.ivanbeltrame.com" %}
    {% include project-card.html title="Il lavoro nella Costituzione" text="Elaborato sulla condizione del lavoro nella Costituzione" href="https://lavoronellacostituzione.ivanbeltrame.com" %}
    {% include project-card.html title="Prototipo dashboard antenna 5G" text="Prototipo di una dashboard per un'antenna 5G" href="https://prototipo-dashboard-5g.ivanbeltrame.com" %}
    {% include project-card.html title="Appunti" text="I miei appunti di varie materie" href="https://appunti.ivanbeltrame.com/" %}
    {% include project-card.html title="Eleonora D'Arborea" text="Video animato su Eleonora D'Arborea" href="https://eleonoradarborea.ivanbeltrame.com/" %}
    {% include project-card.html title="Vandali in Sardegna (popolo)" text="Elaborato sui Vandali in Sardegna (popolo)" href="https://vandalisardegna.ivanbeltrame.com/" %}
    {% include project-card.html title="Giulia Maggiore" text="Video animato su Giulia Maggiore, figlia di Ottaviano Augusto" href="https://giuliamaggiore.ivanbeltrame.com/" %}
    {% include project-card.html title="Misericordia" text="Sito fatto per Monumenti Aperti del 2023 per la mia scuola" href="https://misericordia.ivanbeltrame.com/" %}
    {% include project-card.html title="Re di Roma" text="Elaborato sui sette re di Roma" href="https://rediroma.ivanbeltrame.com/" %}
</div>