---
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="it">
    <Head title={ title } description={ description }/>
    <body>
        <Navbar />
        <div class="bg-primary-subtle text-center p-4 shadow-sm">
            <h2 class="fs-1 lh-base fw-bold">{ title }</h2>
        </div>
        <main class="px-5 my-4 mx-auto mainContent">
            <slot />
        </main>
        <Footer />
    </body>
</html>